# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Meine Daten\Uni HHU\Semester 3\Von NAND zu Tetris\nand2tetris\projects\07\VirtualMachine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
